@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* light theme colors */
body[data-theme="light"]{
    --color-1: rgb(196,220,241);
    --color-2: white 
    --color-3: rgb(200,200,200);
    --color-4: rgb(80,82,110);
}

 /* dark theme colors */
 body[data-theme="dark"]{
    --color-1: #1e1f26;
    --color-2: #292c33;
    --color-3: rgb(39, 40, 42);
    --color-4: rgb(186, 186, 202);
}

body {
    font-family: poppins, sans-serif;
    color: var(--color-4);
}

section{
    background-color: var(--color-1);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}

.texts{
    margin-left: 30px;
}

.texts h1 {
    font-size: 50px;
    font-weight: 700;
}

.texts p {
    font-size: 18px;
}

.theme-switcher {
    position: absolute;
    top: 20px;
    right: 15px;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    display: block;
    text-indent: -9999px;
    height: 26px;
    width: 60px;
    background-color: rgb(171, 171, 171);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

label::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: black;
    top: 52%;
    left: 5px;
    transform: translateY(-50%);
    transition: .3s ease background-color;
}

input:checked + label {
    background-color: black;
    border: 2px solid white;
}

input:checked + label::after {
    background-color: whitesmoke;
    left: calc(100% - 25px);

}